@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: 'Questrial', sans-serif;
    padding: 5px;
}

.img-responsive {
    max-width: 100%;
}

.cabecalho {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* estilo da section do banner rotativo */
.section01{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80vh;
    overflow: hidden;
}
.containerBanner{
    display: flex; 
    width: 100%;
}

 #imagemBanner{
    width: 100%;
    height: 100%;
 }

 /* Seção de eventos */

 .section-02{
    width: 100%;
    min-height: 80vh;
    padding: 20px ;
}

.sectio02Titulo{
    padding: 40px 0px 0px 20px;
    text-align: center;
}

.sectio02Button{
    padding: 40px;
    text-align: center;
}

.containerEventos{
    display: flex;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

}

/* Seção sobre a Sound Garden*/

.section-03{
    min-height: 80vh;
    display: flex;
}

.containerSobre{
    width: 90%;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

article.evento {
    width: 350px;
}

/* Footer */

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}

/* estilo do modal */
.modal {
    border: 1px solid orange;
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
    align-items: center;
    align-content: center;
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    align-items: center;
}

#closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}


/* Pagina eventos */
.containerTelaEventos{
    width: 80%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-between;
}